* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	text-align: center;
}

.App {
/* 	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
 */	min-height: 100vh;
}
