* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.App {
  text-align: center;
  margin:0;
  padding: 0;
background-image: linear-gradient(to top, #09203f 0%, #537895 100%);}