.image{ 
    min-width: auto;
    height: 400;
    resize: contain;
    overflow: auto;
}

.Content{
     background: grey;
    margin-bottom: 0.3px
}

/* .Card{
    margin-top: '400px'
} */